.ipynb_checkpoints

# generated site
workshop/_build

# Some side-effect outputs from ./build.sh we don't want
/workshop/notebooks/surveys.csv
/workshop/notebooks/speciesSubset.csv
/workshop/notebooks/function_surveys*.csv
/workshop/notebooks/output/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
