.ipynb_checkpoints

# generated site
workshop/_build

# Some side-effect outputs from ./build.sh we don't want
/workshop/modules/surveys.csv
/workshop/modules/speciesSubset.csv
/workshop/modules/function_surveys*.csv
/workshop/modules/data/function_surveys*.csv
/workshop/modules/output/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

/.quarto/
